@font-face {
    font-family: 'Arvo', serif;
    src: url(fonts/glyphicons-halflings-regular.ttf);
    font-weight: bold;
}
body, h1
{
    font-family: 'Arvo', serif;

}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
	margin-top: 10px;
}
.navbar-default
{
	background-color: black;
}
.navbar-default .navbar-brand
{
	color: #fff;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a
{
	color: #fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 83px;
}   
.navbar-left
{
	float: right !important;
}
	
.phoneNumbers 
{
    float: left;
    margin-top: 10px;
}
.btn-default 
{
	margin-right: 83px;
	color: #fff;
	width: 109px;
	background-color: #fc3f19;
}
.btn
{
	border-radius: 0px;
	margin-top: 12px;
}

.fnumber
{	
	margin-top: 3px;
	color: #fff;
	margin-left: 34px;
}
.code
{
	color: #00a9ca;
}
.nav>li>a
{
	padding: 25px 38px;
} 
.glyphicon-phone
{
	position: absolute;
	margin-top:25px;
	color: #00a8cc;
	width: 20px;
	border-right: 2px solid #00a8cc;
	height: 22px;
}
.circle
{
	border: 2px solid #fd3d19;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	
}
/*.glyphicon-briefcase
{
	color:  #fd3d19;
	width: 50px;
	height: 50px;
	position: relative;
	margin-top: 14px;
	margin-left: 17px;
}*/
.contain-glyfs
{
	width: 150px;
	height: 200px;
	border: 1px solid blue;
	margin-left: 55px;
}
.sale
{
	position: relative;
	margin-right: 150px;
	margin-top: 450px;
	float: right;
	width: 500px;
	height: 300px;
	/*z-index: 2;*/
}
.img-ss
{
	position: relative;
	margin-left: 31px;
}
.back-title
{
	color: black;
}
.right
{
	width: 300px;
    margin-top: 203px;
    margin-left: 308px;
}
.left
{
	float: left;
	width: 50%;
}
.after-sale
{
	
	height: 44px;
	background-color: yellow;
	font-size: 30px;
}
.brand
{
	/*font-size: 30px;
	color: black;*/
}
.btn-sale
{
	color: #fff;
	width: 109px;
	height: 40px;
	background-color: #fc3f19;
}
.clear {
	clear: both;
}
.back-image
{
	background-image: url("banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 973px;
	margin-top: -84px;
}
.icon
{
	width: 100px;
	height: 100px;
	border: 2px solid orange;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: 65px;
	margin-left: 130px;
	background-color: orangered;
}
.gly-heart
{
	position: relative;
    margin-top: 30px;
    font-size: 30px;
}
.contain-video-words
{
	width: 100%;
}
.right-of-video
{
	margin-top: 103px;
    margin-left: -152px;
    width: 60%;
    height: 958px;
    background-color: #003e53;
    transform: rotate(114deg);
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.left-of-video
{
	width: 50%;
	margin-top: -737px;
    margin-right: 97px;
    height: 600px;
	background-color: #00aacd;
	transform: rotate(50deg);
	float: right;
	position: relative;
}
.movie
{
	position: absolute;
	width: 50%;
	float: left;
	z-index: 4;
	margin-top: 104px;
    margin-left: 45px;
}
.movie p,h1
{
	color: white;
}

.about-porshe
{
	width: 380px;
	text-align: center;
	transform: rotate(-50deg);
	margin-right: auto;
	margin-left: 224px;
	position: relative;
	margin-top: 100px;
	margin-bottom: auto;
}
img[src="bg_1.jpg"]
{
	width: 300px;
	height: 200px;
    /*transform: rotate(-50deg);*/

}
.img-of-brand
{
	width: 100%;
    height: 350px;
    transform: rotate(-50deg);
    margin-top: 9px;
    margin-left: 158px;
    margin-right: auto;
}
.after-video
{
	font-size: 30px;
	color: white;
}
.nice-leg
{
	background-image: url(bg_3.jpg);
	height: 706px;
}
.choosing
{
	color: white;
	padding: 101px;
    width: 573px;
}
.before-sale
{
	color: #00abcb;
	font-size: 30px;
}
.singing
{
	background-color: #003e53;
	border: 1px solid white;
	color: white;
}
.table-row
{
	height: 150px;
	background-color: red;
}
.date
{
	width: 25px;
	height: 30px;
	font-size: 45px;
	background-color: white;
	text-align: center;
	display: inline;
}
.title-of-pics 
{
	margin-top: 63px;
    margin-bottom: 32px;
    font-size: 26px;
	color: black;
}
.example
{
	width: 230px;
}
.spray
{
	height: 800px;
}
.musuc
{
	margin: 10px auto;
}
.gly-choose
{
	width: 50px;
	height: 50px;
	border: 2px solid orange;
	border-radius: 50%;
	text-align: center;
	position: relative;
	padding-top: 15px;
}
.info
{
	height: 50px;
}
img[src="bg_3.jpg"]
{
	width: 100%;
}
.in-place
{
	transform: rotate(-114deg);
	margin-top: 108px;
}
.in-place p
{
	color: white;
}
.bottle
{
	position: relative;
	z-index: 12;
	height: 600px;
	float: right;
}
img[src="bootle.png"]
{
	height: 575px;
}
.zagdos
{
	position: relative;
	z-index: 23;
	background-color: #021823;
	height: 600px;
}
.contain-zagdos
{
	margin-top: 30px;
}
.zagdos-left
{
	height: 400px;
	border: 2px solid #00AACD;
	margin-left: 150px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
    font-size: 14px;
    line-height: 5.428571;
    color: white;
}
.zagdos-right
{
	height: 400px;
	border: 2px solid #00AACD;
	margin-left: 60px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-size: 14px;
    line-height: 5.428571;
    color: white;
}
.left-title
{
	width: 100%;
	height: 60px;
	background-color: #00aacd;
	margin-bottom: 50px;
	
}
.social
{
	border: 3px solid black;
	width: 250px;
	height: 350px;
	margin: 60px;
	padding-right: 0px;
	padding-left: 0px;
}
.fb
{
	width: 100%;
	height: 50px;
	background-color: #003e53;
	color: white;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
.panel-default>.panel-heading
{
	background-color: white;
	border-bottom: 2px solid #fc3f19;
}
.glyphicon-plus
{
	margin-right: 20px;
	margin-left: 10px;
	color: #fc3f19;
}
.stay
{
	height: 70px;
	padding: 15px;
	background-color: #00aacd;
	font-size: 35px;
	margin-bottom: 0px;
}
.свои
{
	height: 250px;
	background-color: #003e53;
}
.last-one	
{
	margin-top: 100px;
	background-color: #003e53;

}
.footer
{
	height: 100px;
	background-color: #021823;
}
img[src="638983420_w640_h640_bezymyannyj.jpg"]
{
    height: 70px;
    margin-top: 15px;
    width: 200px;
}
input
{
	padding: 8px;
}
.contact
{
	width: 30px;
    height: 35px;
    margin-top: 25px;
    color: white;
    background-color: #003e55;
    font-size: large;
	padding: 8px;
}
